body {
    font-size: 1.2rem;
    background-color: hsl(233, 47%, 7%);
}
#container{
  width:70%;
  display: flex;
  background-color: hsl(244, 38%, 16%);
  margin: 500px auto;
  border-radius: 10px;
  
}
.box{
  width:50%;
}
.header{
  color:hsl(0, 0%, 100%);
  margin:10px 5px 5px 40px;
  font-size:1rem;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 700;
}
.header span{
  color: hsl(277, 64%, 61%)

}
.para{
  width: 85%;
  color:hsla(0, 0%, 100%, 0.55);
  margin:0 0 15px 40px;
  font-family: 'Inter', sans-serif;
  font-size:.8rem;
}
.stat{
  color:hsl(0, 0%, 100%);
 
}
ul{
  display:flex;
  list-style: none;
  text-align: center;
  
}
.stat li{
  margin:20px 10px;
  font-size: 16px;
  font-weight: 700;
   font-family: 'Inter', sans-serif;
}
.stat p{
  color: hsla(0, 0%, 100%, 0.6);
  margin:3px 0;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}
.overlay{
  box-sizing: border-box;
  width: 50%;
  height:inherit;
  background-color:hsl(277,70%, 40%);
  border-top-right-radius:10px;
  border-bottom-right-radius: 10px;
}
.image{
 width:100%;
  height: 100%;
  background-size: cover;
  background-image: url(image-header-desktop.jpg);
  border-radius: 0px;
  opacity:.5;
  border-top-right-radius:10px;
  border-bottom-right-radius: 10px;

 
}

@media screen and (max-width:440px){
  #container {
    width: 50vh;
    height: 90vh;
    display: flex;
    flex-direction:column-reverse;
    background-color: hsl(244, 38%, 16%);
    justify-content: space-between;
    border-radius: 10px;
}

.para {
  width: 100%;
  color: hsla(0, 0%, 100%, 0.75);
  margin: 0 0 15px 40px;

}
.box{
  width: 80%;
  
}
.header{
  width: 100%;
  font-size:1rem;
  margin:0 30px;
  text-align: center;
  
}
.para{
  width:90%;
  font-size:.9rem;
  text-align: center;
  line-height:1.6;
}

.overlay{
  width:inherit;
  height:40vh;
   border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;
  margin-bottom: 0px;
  align-items: flex-start;
}
.image {
  width: inherit;
  height: inherit;
  background-size:cover;
  background-repeat: no-repeat;
  background-image: url(image-header-mobile.jpg);
  border-radius: 0px;
  opacity: .5;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;
   
}
ul{
  display: flex;
  flex-direction: column;
  
}
.stat li{
  font-size: 1.5rem;
  
}
}

@media screen and (max-width:768px){
    #container {
    width: 55vh;
    height: 60vh;
    display: flex;
    flex-direction:column-reverse;
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px;
}

.overlay {
  width: inherit;
  height: 40vh;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;
  margin-bottom: 0px;
 
}

.image {
  width: inherit;
  height: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(image-header-mobile.jpg);
  border-radius: 0px;
  opacity: .5;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;

}

ul{
  display: flex;
  flex-direction: row;
}
.stat li{
  font-size: 1rem;
  
}
} 

@media screen and (max-width:350px){
    #container {
    width: 70vh;
    height: 90vh;
    display: flex;
    flex-direction:column-reverse;
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px;
}

.para {
  width: 100%;
  color: hsla(0, 0%, 100%, 0.75);
  margin: 0 0 15px 40px;

}
.box{
  width: 90%;
  
}
.header{
  width: 100%;
  font-size:1rem;
  margin:0 30px;
  text-align: center;
  
}
.para{
  width:90%;
  font-size:.9rem;
  text-align: center;
  line-height:1.6;
}

.overlay{
  width:inherit;
  height:40vh;
   border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;
  margin-bottom: 0px;
  align-items: flex-start;
}
.image {
  width: inherit;
  height: inherit;
  background-size:cover;
  background-repeat: no-repeat;
  background-image: url(image-header-mobile.jpg);
  border-radius: 0px;
  opacity: .5;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;
   
}
ul{
  display: flex;
  flex-direction: column;
  
}
.stat li{
  font-size: 1.2rem;
  
}
}
